<div class="banner">
  <div id="l_app" style="float:left"></div>
  <a id="myname" href="/">Tomaz Geddes de Almeida</a>
  <div id="r_app" style="float:left"></div>
  
  <hr/>
  <nav>
    <p>
      <a href="./">Home</a>
      <a href="/about.html">About</a>
      <a href="/blog-index.html">Writing</a>
      <a href="https://github.com/tomazgda/">Github</a>
    </p>
  </nav>
</div>

<script>
  var l_app = Elm.Cube.init({
      node: document.getElementById('l_app')
  });
  var r_app = Elm.Cube.init({
      node: document.getElementById('r_app')
  });
</script>
